{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center mt-4">
    <h2>Address Form</h2>
    <!-- <select id="demo1" multiple="multiple">
        <option value="one" data-section="top" selected="selected" data-index="3">One</option>
        <option value="two" data-section="top" selected="selected" data-index="1">Two</option>
        <option value="three" data-section="top" selected="selected" data-index="2" data-description="A natural number">
            Three</option>
        <option value="four" data-section="top">Four</option>
        <option value="wow" data-section="top/inner/this/is/really/nested">Wow</option>
    </select> -->
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="address-form">
                    <form class="user" method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {{ p_form.name|as_crispy_field }}
                            </div>
                            <div class="col-sm-6">
                                {{ p_form.parent|as_crispy_field }}
                            </div>
                        </div>
                        {% for field in form %}
                        <div class="form-group ">
                            {{ form.properties_link|as_crispy_field }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-user btn-block"> Post Address</button>

                    </form>
                </div>
            </div>
            <div class="col-md-6">
                {% load mptt_tags %}
                <div>
                    {% recursetree properties %}
                    <div>{{ node.content }}</div>
                    <!-- <div>{{ node.level }}</div> -->
                    {% if not node.is_leaf_node %}
                    <div class="children pl-2 pl-md-5">
                        {{ children }}
                    </div>
                    {% endif %}
                    {% endrecursetree %}
                </div>
                {% for property in properties %}
                <span style="font-weight:bolder;">{{ property.name }}
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>{{ forloop.counter }} property</em>
                {{ property.content | linebreaks }}
                {% empty %}
                <h3>There are no properties available.</h3>
                {% endfor %}

            </div>
        </div>


    </div>
    {% endblock content %}